body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/background.png");
    background-repeat: repeat;
    font-family: "Cormorant Garamond", serif;
    overflow: hidden;
}

.text-container {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

h1 {
    font-size: min(5vh, 5vw);
    text-wrap: nowrap;
}

h2 {
    font-size: min(2.5vh, 2.5vw);
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: max(25vw, 25vh);
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: max(25vw, 25vh);
}

.lakeside-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.lakeside-icon {
    width: 1.5vw;
    min-width: 20px;
    max-width: 150px;
    padding-left: 2%;
    padding-right: 2%;
}